@tailwind base;
@tailwind components;
@tailwind utilities;


.phone-screen {
    width: 360px;
    background: center no-repeat url(../images/nezuko-butterfly.jpg);
    background-size: cover;
    border-radius: 20px;
    margin: auto;
    overflow: hidden;
}


.app-icon {
    background-color: #FFFAFA;
    border-color: goldenrod;
    border-style: solid;
    border-width: 2px;
}

.s-l{
    background: center no-repeat url('../images/logo-d.png');
}