@tailwind base;
@tailwind components;
@tailwind utilities;


.phone-screen {
    display: flex;
    flex-direction: column;
    width: 360px;
    /* Typical phone width */
    height: 95vh;
    /* Height for all devices */
    background: #f5f5f5;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: auto;
    overflow: hidden;
    /* Ensure content stays within bounds */
}

.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    /* Basic height for status bar */
    background: #333;
    color: #fff;
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 10px;
}